@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{margin: 0; padding: 0;}
/* ------------resable component--------------------------- */
body{
    font-family: 'Poppins', sans-serif;

}

.b-t-n{
    background: #E02C6D;
    text-decoration: none;
    color: #fff;
    padding: 10px 24px;
    font-weight: 500;
    margin-top: 27px;
    border-radius: 5px;
}
.b-t-n:hover{
       background: #630d2d;
       color: #ff8ab5;
       box-shadow: 0px 0px 15px #f35b93;;
}
.b-t-n i{
    margin-left: 7px;
    font-size: 15px;
}
/* ----------home section style--------------- */
.home{
    background: #2D25A0;
    height: 677px;
}
.grid-of-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.soccer img{
    width: 556px;
    height: 438px;
}
.live{
    margin-top: 153px;
}
.tittle{
    margin-left: 156px;
}
.tittle h1{
    font-size: 64px;
    color: #fff;
    font-weight: bold;
    line-height: 80px;
    margin-bottom: 27px;
    
}
/*============================= player section style========================== */
.container{
    justify-content: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    grid-row-gap: 60px;
    grid-column-gap: 45px;
    padding-top: 70px;
    width: 1200px;
    margin: auto;

}
.player{
    box-shadow: 0px 0px 50px rgba(253, 210, 210, 0.842);
    Width :330px;
    margin: auto;
    border-radius: 7px;
    overflow: hidden;
}
.player img{
    width: 300px;
    height: 256px;
    margin: 14px 0px 10px 15px;
    border-radius: 5px;
}
.player h2{
    font-size: 28px;
    font-weight: 900;
    color:  #18191F;
    margin-left: 15px;
}
.player p{
    font-size: 16px;
    color: #6C6C6C;
    margin: 15px 15px 35px 15px;
}
/* =================== high light section ====================== */
.high-light{
    margin-top: 10px;
}

.high-light .tittle{
    width: 404px;
    margin-right: 131px;
}
.high-light h1{
    color: #000;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 4px;
    
}
.high-light img{
    width: 567px;
    height: 427px;
}
.high-light p{
    font-size: 16px;
    line-height: 28px;
    color:#6C6C6C;
    margin-bottom: 34px;
    width: 400px;
}
/* =============== start fifa 2022 style =================== */
.fifa{
    text-align: center;
    background: rgb(146, 107, 93);
    height: 100vh;
}
.fifa-logo img{
    width: 400px;
}
.box-about{
    margin-top: 163px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.about{
    width: 960px;
    margin: auto;
}
.about h3{
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 30px;
    color:#18191F;
}
.about p{
    font-size: 18px;
    line-height: 28px;
    color: #551717;  
    padding: 10px 20px;
    box-shadow: 0px 0px 50px rgba(253, 210, 210, 0.842);
    border-radius: 20px;
    background: cornsilk;
}
/* ================ uefa section style =========================== */
.uefa-champion{
    text-align: center;
}
.uefa-tittle{
    background: linear-gradient(rgba(0, 0, 0, 0.09),rgba(0, 0, 0, 0.09)), url('../img/2014\ UEFA\ Champions\ League\ Wallpaper\ 12732\ Wallpaper\ Wallpaper\ hd.jpg');
    background-size: cover;
    background-position-x: center center;
    height: 680px;
    background-attachment: fixed;
}
.player-uefa{
    width: 440px;
    margin-left: 8%;
    margin-top: 17%;
}
.uefa-png{
    width: 150px;
}
.uefa-tittle {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.uefa-img{
    margin-top: 18%;
    margin-left: 10%;
}
.uefa-img p{
 color: #000;
 font-size: 18px;
 line-height: 28px;
}
.match{
    display: flex;
}
.match img{
    width: 50px;
}
/* ===========footer style================= */
footer{
    text-align: center;
}
.company-logo img{
    width: 483px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.social-icon a img{
    width: 32px;
    margin: 10px;
}
.footer-content p i{
padding: 7px;
}
.footer-content p{
padding-bottom: 63px;
margin-top: 20px;
}
/* ===================== media query ========================== */
/* ------- mobile device ----------------- */

@media only screen and (max-width: 688px){
    /*------------- home--------- */
    .grid-of-2{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    .home{
        height: 100%;
    }
    .soccer img{
        width: 350px;
        height: auto;
    }
    .tittle{
        margin-left: 24px;
    }
    .tittle h1{
        font-size: 45px;
        line-height: 66px;
        }
    .live{
            margin-top: 60px;
        }
             /*---------------- players------------ */
             .players{
                 grid-template-columns: repeat(1,1fr);
                 width: 100%;
             }
             /*---------------- high-light----------- */
             .high-light p{
                 width: 100%;
             }
             .high-light .tittle{
                 width: 100%;
                 margin-left: 0;
             }
             .high-light img{
                 width: 100%;
                 height: auto;
             }
             /* ------------ fifa -------------- */

           .fifa-logo img,
           .about{
               width: 100%;
           }
           .box-about{
               margin-top: 24%;
           }
           /* ------------------  uefa ----------------- */
           .player-uefa,.uefa-png,.match img{
               width: 100%;
               height: auto;
           }
           .uefa-tittle{
               grid-template-columns: repeat(1,1fr);
           }
           .player-uefa{
               display: none;
           }
           .uefa-tittle{
               height: auto;
           }
           .uefa-img{
               margin-top: 36%;
               margin-left: 0;
           }
           /*---------------- footer------------ */
           .company-logo img{
               width: 70%;
           }
           .social-icon a img{
            width: 20px;
            margin: 5px;
        }
        .footer-content p{
            padding-bottom: 100px;
            margin-top: 0;
        }
}